sudo: false
language: python
cache: pip
python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'

services:
  - redis-server

before_script:
  - pip install -q codecov flake8

script:
  - flake8 beatx/

  - pip install -q -r test_requirements.txt && pip install -e .

  - py.test --cov ./ .

after_success:
  - codecov
